In [1]:
import pandas as pd
import numpy as np

# Load the dataset
data = pd.read_csv('Project_healthcare_dataset.csv')

# Display the first few rows to understand the structure
print(data.head())

c:\Users\bharg\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
c:\Users\bharg\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

        Name  Age  Gender Blood Type Medical Condition Date of Admission  \
0  Patient_0   58    Male         O-      Hypertension          1/1/2023
1  Patient_1   71  Female         O-            Cancer          1/2/2023
2  Patient_2   48  Female         A-          Diabetes          1/3/2023
3  Patient_3   34    Male        AB-            Asthma          1/4/2023
4  Patient_4   62  Female         B-      Hypertension          1/5/2023

        Doctor          Hospital Insurance Provider  Billing Amount  \
0  Dr. Matthew       Mayo Clinic         Blue Cross    42984.593897
1    Dr.justin  Cleveland Clinic   UnitedHealthcare    21619.671022
2    Dr.justin  Cleveland Clinic              Aetna    25331.064631
3    Dr.justin       Mayo Clinic              Aetna    25507.810673
4    Dr. Patel       Mayo Clinic              Aetna    35207.394089

   Room Number Admission Type Discharge Date   Medication  Test Results
0          229       Elective       1/2/2023   Penicillin      Abnormal
1          431      Emergency       1/3/2023      Aspirin  Inconclusive
2          277       Elective       1/4/2023    Ibuprofen        Normal
3          372       Elective       1/5/2023  Paracetamol        Normal
4          390       Elective       1/6/2023  Paracetamol      Abnormal

In [2]:
# Basic info to check data types and missing values
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51000 entries, 0 to 50999
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                51000 non-null  object
 1   Age                 51000 non-null  int64
 2   Gender              51000 non-null  object
 3   Blood Type          51000 non-null  object
 4   Medical Condition   51000 non-null  object
 5   Date of Admission   51000 non-null  object
 6   Doctor              51000 non-null  object
 7   Hospital            51000 non-null  object
 8   Insurance Provider  51000 non-null  object
 9   Billing Amount      51000 non-null  float64
 10  Room Number         51000 non-null  int64
 11  Admission Type      51000 non-null  object
 12  Discharge Date      51000 non-null  object
 13  Medication          51000 non-null  object
 14  Test Results        51000 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 5.8+ MB
None

In [3]:
## Data Cleaning Steps##

In [5]:
# Check for missing values
print(data.isnull().sum())

# Impute or drop missing values (this depends on the importance of each feature)
# For simplicity, we'll drop rows with missing values initially
data.dropna(inplace=True)

Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

In [6]:
# Verifying there are no more missing values
print(data.isnull().sum())

Name                  0
Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Date of Admission     0
Doctor                0
Hospital              0
Insurance Provider    0
Billing Amount        0
Room Number           0
Admission Type        0
Discharge Date        0
Medication            0
Test Results          0
dtype: int64

In [6]:
## Data Preprocessing##

In [7]:
from sklearn.preprocessing import LabelEncoder

# Initialized LabelEncoder for encoding categorical columns
label_encoder = LabelEncoder()

# List of categorical columns to encode
categorical_columns = ['Gender', 'Blood Type', 'Medical Condition', 'Doctor', 'Hospital', 
                       'Insurance Provider', 'Admission Type', 'Medication', 'Test Results']

# Apply label encoding to each categorical column
for column in categorical_columns:
    data[column] = label_encoder.fit_transform(data[column])

# Display the first few rows after encoding to verify
encoded_data_head = data.head()

encoded_data_head

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Patient_0,58,1,7,3,1/1/2023,3,3,1,42984.593897,229,0,1/2/2023,3,0
1,Patient_1,71,0,7,1,1/2/2023,7,0,4,21619.671022,431,1,1/3/2023,0,1
2,Patient_2,48,0,1,2,1/3/2023,7,0,0,25331.064631,277,0,1/4/2023,1,2
3,Patient_3,34,1,3,0,1/4/2023,7,3,0,25507.810673,372,0,1/5/2023,2,2
4,Patient_4,62,0,5,3,1/5/2023,4,3,0,35207.394089,390,0,1/6/2023,2,0

In [8]:
import numpy as np

# Applying log transformation on skewed columns
data['Billing Amount'] = np.log1p(data['Billing Amount'])

print("Data after log transformation on Billing Amount:")
print(data[['Billing Amount']].head())

Data after log transformation on Billing Amount:
   Billing Amount
0       10.668620
1        9.981405
2       10.139826
3       10.146779
4       10.469040

In [13]:
# Final check for data cleanliness
print(data.info())
print("Any missing values left?", data.isnull().sum().any())

# Export cleaned data to a new file
data.to_csv('Cleaned_healthcare_dataset.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51000 entries, 0 to 50999
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                51000 non-null  object
 1   Age                 51000 non-null  int64
 2   Gender              51000 non-null  object
 3   Blood Type          51000 non-null  object
 4   Medical Condition   51000 non-null  object
 5   Date of Admission   51000 non-null  object
 6   Doctor              51000 non-null  object
 7   Hospital            51000 non-null  object
 8   Insurance Provider  51000 non-null  object
 9   Billing Amount      51000 non-null  float64
 10  Room Number         51000 non-null  int64
 11  Admission Type      51000 non-null  object
 12  Discharge Date      51000 non-null  object
 13  Medication          51000 non-null  object
 14  Test Results        51000 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 5.8+ MB
None
Any missing values left? False